.navbar {
  box-shadow: 0 1px 5px #424242; }

header {
  margin-bottom: 70px; }

.home {
  padding-top: 10px; }
  .home .logo {
    padding: 5px; }

body {
  word-wrap: break-word;
  word-wrap: break-word; }

.copyright {
  text-align: center; }

.box-image-text .image {
  min-height: 150px;
  max-height: 150px; }

.features .box-simple {
  min-height: 180px; }
  .features .box-simple .icon {
    text-align: center;
    vertical-align: middle; }
    .features .box-simple .icon img {
      display: inline-block;
      position: relative;
      top: -3px; }

.members {
  padding: 0;
  margin-bottom: 40px; }
  .members .item {
    list-style-type: none;
    margin: 0 5px;
    background: #fff;
    padding-bottom: 60px;
    box-sizing: border-box; }
    .members .item .member {
      position: relative;
      padding: 20px; }
      .members .item .member::before {
        content: ' ';
        display: table; }
      .members .item .member::after {
        content: ' ';
        display: table;
        clear: both; }
      .members .item .member .text {
        color: #999;
        margin-bottom: 40px; }
      .members .item .member .bottom {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
        height: 50px; }
      .members .item .member .icon {
        color: #38a7bb;
        font-size: 30px;
        float: left;
        width: 20%; }
      .members .item .member .name-picture {
        float: right;
        width: 80%;
        text-align: right; }
        .members .item .member .name-picture h5 {
          font-size: 14px;
          text-transform: uppercase;
          letter-spacing: .08em; }
        .members .item .member .name-picture p {
          color: #999;
          margin: 0;
          font-size: 12px; }
        .members .item .member .name-picture img {
          float: right;
          width: 60px;
          border-radius: 30px;
          margin-left: 10px; }

.othlo-member {
  padding: 10px; }
  .othlo-member .img-thumbnail {
    width: 100%; }
  .othlo-member .member-role {
    text-align: right;
    padding: 5px;
    margin: 0;
    font-weight: bold; }
  .othlo-member .member-univ {
    text-align: left;
    padding: 5px;
    padding-left: 0;
    margin: 0; }
  .othlo-member .member-name {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 1; }
  .othlo-member .member-text {
    min-height: 80px;
    font-size: 14px;
    line-height: 1.5;
    overflow: hidden; }
  .othlo-member .member-social-icons a {
    width: 22px;
    height: 22px;
    line-height: 22px;
    vertical-align: middle; }
  .othlo-member .member-social-icons i {
    font-size: 22px;
    margin: 5px; }
  .othlo-member .member-social-icons .twitter {
    color: #55acee; }
  .othlo-member .member-social-icons .facebook {
    color: #3b5998; }
  .othlo-member .member-social-icons .github {
    color: #333; }
  .othlo-member .devicons {
    font-size: 16px;
    color: #666; }

#blog-post {
  padding-bottom: 80px; }
  #blog-post h1 {
    font-size: 32px;
    margin-bottom: 45px;
    line-height: 1.6em;
    letter-spacing: .05em;
    padding-bottom: 12px;
    border-bottom: solid 5px #4fbfa8; }
  #blog-post h2 {
    font-size: 24px;
    padding: 30px;
    background-color: #eee;
    border-radius: 5px;
    margin-top: 50px;
    letter-spacing: .1em; }
  #blog-post h3 {
    font-size: 22px;
    border-left: 8px solid #4fbfa8;
    border-bottom: 2px solid #4fbfa8;
    padding: 10px 0 7px 20px;
    margin-top: 40px;
    letter-spacing: .05em;
    line-height: 1.6em; }
  #blog-post h4 {
    font-size: 20px;
    margin-top: 30px; }
  #blog-post h5 {
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px; }
  #blog-post h6 {
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px; }
  #blog-post p {
    font-size: 16px;
    margin-top: 25px;
    line-height: 1.8em;
    letter-spacing: .08em; }
  #blog-post blockquote {
    font-style: italic; }
    #blog-post blockquote p {
      margin: 0; }
  #blog-post ul {
    font-size: 16px;
    margin-top: 25px;
    letter-spacing: .08em; }
    #blog-post ul li {
      margin-top: 5px; }
  #blog-post ol {
    font-size: 16px;
    margin-top: 25px;
    letter-spacing: .08em; }
  #blog-post pre {
    margin-top: 30px;
    padding: 20px 30px; }
  #blog-post section {
    margin-top: 35px; }
  #blog-post table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 16px;
    background: #fff;
    margin: 30px 0;
    border-collapse: collapse;
    width: 100%;
    overflow: scroll; }
    #blog-post table tr {
      overflow: scroll; }
    #blog-post table th {
      font-size: 16px;
      font-weight: bold;
      padding: 10px 8px;
      border-bottom: 1px solid #4fbfa8; }
    #blog-post table td {
      padding: 10px 8px 3px;
      white-space: nowrap; }
  #blog-post figure {
    display: inline-block;
    width: 100%;
    margin: 40px 0 0;
    text-align: center; }
    #blog-post figure img {
      width: auto;
      max-width: 100%; }
    #blog-post figure figcaption h4,
    #blog-post figure figcaption p {
      text-align: center;
      opacity: 0;
      -webkit-transition: .3s;
      transition: .3s; }
    #blog-post figure figcaption h4 {
      font-size: 18px; }
    #blog-post figure figcaption p {
      bottom: -60px;
      right: 0; }
    #blog-post figure::before, #blog-post figure::after {
      display: none; }
    #blog-post figure:hover h4 {
      opacity: 1; }
    #blog-post figure:hover p {
      opacity: 1;
      -webkit-transition-delay: .3s;
      transition-delay: .3s; }

ul.share-buttons {
  margin: 0;
  color: #7e7e7e;
  display: block;
  font-family: 'Open Sans',Tahoma, Verdana, Arial, sans-serif, Faruma, Faseyha;
  font-size: 14px;
  font-weight: normal;
  line-height: 32px;
  width: 100%;
  height: 32px;
  text-align: center;
  list-style: none;
  padding: 0; }
  ul.share-buttons li {
    display: inline; }
  ul.share-buttons img {
    width: 32px;
    margin-left: 5px; }

.sns-shares {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 20px; }
  .sns-shares .sns-share {
    display: inline-block;
    padding: 10px;
    line-height: 60px; }
