<!DOCTYPE html>
<html lang="ja">
  <% include ../includes/_head %>
  <body>
  	<div class="othlo-layout-transparent mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <% include ../includes/_header %>

      <main class="mdl-layout__content">
        <div class="othlo-hero mdl-typography--text-center">
  		  <div class="logo-font othlo-slogan">イベント一覧</div>
		</div>
      </main>

      <% include ../includes/_footer %>
  	</div>
  </body>
</html>
