.othlo-member {
  padding: 10px;

  .img-thumbnail {
    width: 100%;
  }

  .member-role {
    text-align: right;
    padding: 5px;
    margin: 0;
    font-weight: bold;
  }

  .member-univ {
    text-align: left;
    padding: 5px;
    padding-left: 0;
    margin: 0;
  }

  .member-name {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 1;
  }

  .member-text {
    min-height: 80px;
    font-size: 14px;
    line-height: 1.5;
    overflow: hidden;
  }

  .member-social-icons {
    a {
      width: 22px;
      height: 22px;
      line-height: 22px;
      vertical-align: middle;
    }

    i {
      font-size: 22px;
      margin: 5px;
    }

    .twitter {
      color: #55acee;
    }

    .facebook {
      color: #3b5998;
    }

    .github {
      color: #333;
    }
  }

  .devicons { // othlo-member programming-languages
    font-size: 16px;
    color: #666;
  }
}
