html, body {
  margin: 0;
  padding: 0;
}

a {
  color: #4DD0E1;
}

blockquote {
  padding: 0;
  padding-left: 10px;
  font-size: 16px;
  border-left: 3px solid #ccc;
  margin: 20px;
  font-style: normal;
  &:before, &:after { content: '' }
}

.logo-font {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  color: #ccc;
  font-weight: 500;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}


.clearfix {
  display: inline-block;
  &:after {  
    content: ".";  
    display: block;  
    visibility: hidden;  
    height: 0.1px;  
    font-size: 0.1em;  
    line-height: 0;  
    clear: both;  
  } 
}
