html, body {
  margin: 0;
  padding: 0;
}

.logo-font {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  color: #ccc;
  font-weight: 500;
}

.clearfix {
  display: inline-block;
  &:after {  
    content: ".";  
    display: block;  
    visibility: hidden;  
    height: 0.1px;  
    font-size: 0.1em;  
    line-height: 0;  
    clear: both;  
  } 
}
