{{ if isset .Site.Params.widgets "share" }}
{{ if .Site.Params.widgets.share }}
<div class="panel panel-default sidebar-menu">
    
    <div class="panel-heading">
        <h3 class="panel-title">Share</h3>
    </div>

    <div class="panel-body">
        <div class="social-share-area">
            <ul class="share-buttons">
                <li class="facebook">
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}&t={{ .Params.title }}" title="Share on Facebook" target="_blank"><img alt="Share on Facebook" src="/images/sns/Facebook.svg"></a>
                </li>
                <li class="twitter">
                    <a href="https://twitter.com/share?url={{ .Permalink }}&text={{ .Params.title }}&hashtags={{ .Site.Params.twitter }}&related={{ .Site.Params.twitter }}" target="_blank" title="Tweet"><img alt="Tweet" src="/images/sns/Twitter.svg"></a>
                </li>
                <li class="google">
                    <a href="https://plus.google.com/share?url={{ .Permalink }}" target="_blank" title="Share on Google+"><img alt="Share on Google+" src="/images/sns/Google+.svg"></a>
                </li>
                <li class="pocket">
                    <a href="https://getpocket.com/save?url={{ .Permalink }}&title={{ .Params.title }}" target="_blank" title="Add to Pocket"><img alt="Add to Pocket" src="/images/sns/Pocket.svg"></a>
                </li>
                <li class="hatebu">
                    <a class="hatena-share-button" href="http://b.hatena.ne.jp/add?mode=confirm&url={{ .Permalink }}&title={{ .Params.title }}" target="_blank"><img alt="Share on Hatebu" src="/images/sns/hatebu.svg"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
{{ end }}
{{ end }}
