{{ if .Site.Params.widgets.categories }}
{{ if isset .Site.Taxonomies "categories" }}
{{ if not (eq (len .Site.Taxonomies.categories) 0) }}
<div class="panel panel-default sidebar-menu">

    <div class="panel-heading">
        <h3 class="panel-title">Categories</h3>
    </div>

    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
            {{ range first 5 .Site.Taxonomies.categories.ByCount }}
                <li><a href="{{ $.Site.BaseURL }}categories/{{ .Name | urlize | lower }}">{{ .Name }} ({{ .Count }})</a></li>
            {{ end }}
        </ul>

        <p class="read-more"><a href="/categories" class="btn btn-template-main">すべて見る</a></p>
    </div>
</div>
{{ end }}
{{ end }}
{{ end }}
