{{ if .Site.Params.widgets.tags }}
{{ if isset .Site.Taxonomies "tags" }}
{{ if not (eq (len .Site.Taxonomies.tags) 0) }}
<div class="panel sidebar-menu">
    <div class="panel-heading">
        <h3 class="panel-title">Tags</h3>
    </div>

    <div class="panel-body">

        <ul class="tag-cloud">
            {{ range first 10 .Site.Taxonomies.tags.ByCount }}
                <li><a href="{{ $.Site.BaseURL }}tags/{{ .Name | urlize | lower }}"><i class="fa fa-tags"></i> {{ .Name }} ({{ .Count }})</a></li>
            {{ end }}
        </ul>

        <p class="read-more"><a href="/tags" class="btn btn-template-main">すべて見る</a></p>
    </div>
</div>
{{ end }}
{{ end }}
{{ end }}
