<% include('../_config'); var data = getData() %>

<!DOCTYPE html>
<html lang="ja">
  <%- include('../includes/_head', { data: data }) %>
  <body>
  	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <%- include('../includes/_header', { data: data }) %>

      <main class="mdl-layout__content">

        <!-- ここに内容 -->

        <%- include('../includes/_footer', { data: data }) %>
      </main>
  	</div>
  </body>
</html>