

<!DOCTYPE html>
<html lang="ja">
  <% include ../includes/_head %>
  <body>
  	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <% include ../includes/_header %>

      <main class="mdl-layout__content">

        <!-- ここに内容 -->

        <% include ../includes/_footer %>
      </main>
  	</div>
  </body>
</html>