/* your styles go here */

/* header */
.navbar {
  box-shadow: 0px 1px 5px #424242;
}
header {
  margin-bottom: 70px;
}

.box-image-text .image {
  min-height: 150px;
  max-height: 150px;
}

.box-simple {
  min-height: 180px;
}

/* carousel */
.carousel-image-container{
}
.carousel-image {
}

/* features */
.features .box-simple .icon {
  text-align: center;
  vertical-align: middle;
}
.features .box-simple .icon img {
  display: inline-block;
  position: relative;
  top: -3px;
}

/* members */
.members {
  padding: 0;
  margin-bottom: 40px;
}
.members .item {
  list-style-type: none;
  margin: 0 5px;
  background: #fff;
  padding-bottom: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.members .item .member {
  position: relative;
  padding: 20px;
}
.members .item .member:before,
.memberss .item .member:after {
  content: " ";
  display: table;
}
.memberss .item .member:after {
  clear: both;
}
.members .item .member:before,
.members .item .member:after {
  content: " ";
  display: table;
}
.members .item .member:after {
  clear: both;
}
.members .item .member .text {
  color: #999999;
  margin-bottom: 40px;
}
.members .item .member .bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  height: 50px;
}
.members .item .member .bottom .icon {
  color: #38a7bb;
  font-size: 30px;
  float: left;
  width: 20%;
}
.members .item .member .name-picture {
  float: right;
  width: 80%;
  text-align: right;
}
.members .item .member .name-picture h5 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}
.members .item .member .name-picture p {
  color: #999999;
  margin: 0;
  font-size: 12px;
}
.members .item .member .name-picture img {
  float: right;
  width: 60px;
  border-radius: 30px;
  margin-left: 10px;
}

/* sns-shares */
.sns-shares {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 20px;
}
.sns-shares .sns-share {
  display: inline-block;
  padding: 10px;
  line-height: 60px;
}

/* copyright */
.copyright {
  text-align: center;
}

/* footer */
#footer {
  /* background-color: #fff; */
}

/* logo */
.home {
  padding-top: 10px;
}
.home .logo {
  padding: 5px;
}

/* othlo-member */
.othlo-member {
  padding: 10px;
}
.othlo-member .member-role {
  padding: 0;
  margin: 0;
}
.othlo-member .member-univ {
  padding: 0;
  margin: 0;
}
.othlo-member .member-name {
  margin: 10px 0;
}
.othlo-member .member-social-icons {
  
}
.othlo-member .member-social-icons a {
  width: 22px;
  height: 22px;
  line-height: 22px;
  vertical-align: middle;
}
.othlo-member .member-social-icons i {
  font-size: 22px;
  margin: 5px;
}
.othlo-member .member-social-icons .twitter {
  color: #55acee;
}
.othlo-member .member-social-icons .facebook {
  color: #3b5998;
}
.othlo-member .member-social-icons .github {
  color: #333;
}
/* othlo-member programming-languages */
.othlo-member .devicons-java {

}
.othlo-member .devicons-ruby {

}
.othlo-member .devicons-scala {

}
.othlo-member .devicons-python {

}
.othlo-member .devicons-go {

}
.othlo-member .devicons-ruby_on_rails {

}
.othlo-member .devicons-django {

}
.othlo-member .devicons-php {

}
.othlo-member .devicons-mysql {

}
.othlo-member .devicons-javascript {

}
.othlo-member .devicons-angular {

}
.othlo-member .devicons-backbone {

}
.othlo-member .devicons-coffeescript {

}
.othlo-member .devicons-jquery {

}
.othlo-member .devicons-nodejs_small {

}
.othlo-member .devicons-sass {

}
.othlo-member .devicons-css3 {

}
.othlo-member .devicons-html5 {

}
.othlo-member .devicons-wordpress {

}
.othlo-member .devicons-grunt {

}
.othlo-member .devicons-gulp {
  
}
.othlo-member .devicons-windows {

}
.othlo-member .devicons-linux {

}
.othlo-member .devicons-ubuntu {

}
.othlo-member .devicons-android {

}
.othlo-member .devicons-apple {

}
.othlo-member .devicons-swift {

}
.othlo-member .devicons-visualstudio {

}
.othlo-member .devicons-atom {

}
.othlo-member .devicons-unity_small {

}
.othlo-member .devicons-haskell {

}
.othlo-member .devicons-prolog {

}
.othlo-member .devicons-rust {

}
.othlo-member .devicons-docker {

}
.othlo-member .devicons-erlang {

}
.othlo-member .devicons-illustrator {

}
.othlo-member .devicons-photoshop {

}
.othlo-member .devicons-react {

}
.othlo-member .devicons-vim {
  
}
