html, body {
  //margin: 0;
  padding: 0;
}

.othlo-layout-transparent {
  header {
  	color: #333;
  	background: #fff
  }
}

.othlo-hero {
  position: relative;
  height: 600px;
  width: auto;
  background-color: #f3f3f3;
  background: url('/images/othlo.jpg') center 30% no-repeat;
  background-size: cover;

  .othlo-slogan {
  	font-size: 60px;
    padding-top: 160px;
  }
}

.logo-font {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  color: #ccc;
  font-weight: 500;
}

main {


  .othlo-screen-section {
    padding: 40px;

    & > .container {
      width: 80%;
      max-width: 800px;
      margin: 0 auto;

      & > h2 {
      	margin: 20px;
      	color: #64B5F6;
      }
    }
  }
}



footer {
  position: relative;
  .othlo-sns-button {
    position: relative;
    background: transparent;

    & > a {
    width: 100%;
    height: 100%;

      & > img {
        width: 100%;
        height: auto;
        
      }
    }

    &:hover {
      opacity: .6;
    }
  }
}

