{{ if .Site.Params.widgets.tags }}
{{ if isset .Site.Taxonomies "tags" }}
{{ if not (eq (len .Site.Taxonomies.tags) 0) }}
<div class="panel sidebar-menu">
    <div class="panel-heading">
        <h3 class="panel-title">Tags</h3>
    </div>

    <div class="panel-body">
        <ul class="tag-cloud">
            {{ range $name, $items := .Site.Taxonomies.event_tags }}
                <li><a href="{{ $.Site.BaseURL }}categories/{{ $name | urlize | lower }}">{{ $name }} ({{ len $items }})</a></li>
            {{ end }}
        </ul>

        <p class="read-more"><a href="/event_tags" class="btn btn-template-main">すべて見る</a></p>
    </div>
</div>
{{ end }}
{{ end }}
{{ end }}
