main{
 .othlo-hero {
    margin-top: -25px;
    height: 600px;
    width: auto;
    background-color: #fff;
    background: url('/images/othlo.jpg') center 30% no-repeat;
    background-size: cover;

    .othlo-slogan {
      font-size: 50px;
      padding-top: 160px;
      color: #fff;
      -webkit-text-stroke: 1px #bbb;
    }

    .othlotech {
      font-size: 60px;
      color: #28bbf8;
      -webkit-text-stroke: 1px #848484;
    }
  }
}