@import '_content';

.mdl-cell {
  position: relative;

  .mdl-card {
    max-width: 100%;
    height: 600px;

    .mdl-card__title {
      color: #212121;
      background-repeat: no-repeat;
      background-position: center center;
      background-color: #fff;
      background-size: auto;
    }
  }

  .quiz_answer {
    blockquote {
      color: #fff;
      &:hover, &:active {
        color: #212121;
      }
    }
  }
}

.events {
  .event {
  	position: relative;
    h3 {
      text-align: center;
      font-size: 24px;
      a {
        color: #0277BD;
        text-decoration: none;
      }
    }
    .date {
      position: absolute;
      bottom: 0;
      right: 0;
      background: #B2EBF2;
      color: #424242;
      font-weight: bold;
      padding: 10px;
    }
  }
}