main.main {
  .othlo-screen-section {
    padding: 40px 0px;

    & > .container {
      width: 80%;
      max-width: 800px;
      margin: 0 auto;

      & > h2 {
        margin: 20px;
        color: #64B5F6;
      }
    }
  }

  .othlo-feature-section {
    background: #f6f9fa;
    padding: 40px 0px;

    .othlo-feature__item {
      padding-top: 10px;
      border-bottom: 1px solid #ccc;

      .item-circle {
        width: 100px;
        height: 100px;
        margin: 0 auto 2em auto;
        border: 2px solid #eaeaea;
        border-radius: 50%;
        display: flex;
	    justify-content: center;
	    align-items: center;
        
        & > img {
          position: relative;
        }
      }
    }

    .othlo-feature__content {
      & > h3 {
		justify-content: center;
	    align-items: center;
      	margin-bottom: 5px;
      }
    }
  }

  .othlo-contact-section {
  	padding: 40px 0px;
  	background: #fff;

  	& > p {
  	  padding: 0px 20px;
  	}
  }

}