<link href='//cdn.jsdelivr.net/devicons/1.8.0/css/devicons.min.css' rel='stylesheet'>

<div class="container" id="othlo-member">

    <div class="row">

        <div class="col-md-12">
            <section>

                {{ .Content }}

                <div class="heading text-center">
                    <h2>{{ .Site.Params.members.title }}</h2>
                </div>

                <p class="lead">
                  {{ .Site.Params.members.subtitle }}
                </p>
            </section>
        </div>

        {{ range sort .Site.Data.members "weight" }}
        <div class="col-xs-12 col-sm-6 col-md-3 othlo-member">
            <div class="member-avater">
                <img src="{{ .avatar | absURL }}" class="img-thumbnail">
            </div>    
            <div class="col-xs-12 col-sm-6" style="padding:0">
                <p class="member-univ">{{ .univ }}</p>
            </div>
            <div class="col-xs-12 col-sm-6" style="padding:0">
                <p class="member-role">{{ .role }}</p>
            </div>
            <h3 class="member-name">{{ .name }}</h3>
            <p class="member-text">{{ .text }}</p>
            <p class="programming-languages">
                {{ if isset . "java" }}
                <i class="devicons devicons-java"></i>
                {{ end }}

                {{ if isset . "ruby" }}
                <i class="devicons devicons-ruby"></i>
                {{ end }}

                {{ if isset . "scala" }}
                <i class="devicons devicons-scala"></i>
                {{ end }}

                {{ if isset . "python" }}
                <i class="devicons devicons-python"></i>
                {{ end }}

                {{ if isset . "go" }}
                <i class="devicons devicons-go"></i>
                {{ end }}

                {{ if isset . "rails" }}
                <i class="devicons devicons-ruby_on_rails"></i>
                {{ end }}

                {{ if isset . "django" }}
                <i class="devicons devicons-django"></i>
                {{ end }}

                {{ if isset . "php" }}
                <i class="devicons devicons-php"></i>
                {{ end }}

                {{ if isset . "mysql" }}
                <i class="devicons devicons-mysql"></i>
                {{ end }}

                {{ if isset . "javascript" }}
                <i class="devicons devicons-javascript"></i>
                {{ end }}

                {{ if isset . "angular" }}
                <i class="devicons devicons-angular"></i>
                {{ end }}

                {{ if isset . "backbone" }}
                <i class="devicons devicons-backbone"></i>
                {{ end }}

                {{ if isset . "coffeescript" }}
                <i class="devicons devicons-coffeescript"></i>
                {{ end }}

                {{ if isset . "jquery" }}
                <i class="devicons devicons-jquery"></i>
                {{ end }}

                {{ if isset . "nodejs" }}
                <i class="devicons devicons-nodejs_small"></i>
                {{ end }}

                {{ if isset . "sass" }}
                <i class='devicons devicons-sass'></i>
                {{ end }}

                {{ if isset . "css3" }}
                <i class="devicons devicons-css3"></i>
                {{ end }}

                {{ if isset . "html5" }}
                <i class="devicons devicons-html5"></i>
                {{ end }}

                {{ if isset . "wordpress" }}
                <i class="devicons devicons-wordpress"></i>
                {{ end }}

                {{ if isset . "grunt" }}
                <i class="devicons devicons-grunt"></i>
                {{ end }}

                {{ if isset . "gulp" }}
                <i class="devicons devicons-gulp"></i>
                {{ end }}

                {{ if isset . "windows" }}
                <i class="devicons devicons-windows"></i>
                {{ end }}

                {{ if isset . "linux" }}
                <i class="devicons devicons-linux"></i>
                {{ end }}

                {{ if isset . "ubuntu" }}
                <i class="devicons devicons-ubuntu"></i>
                {{ end }}

                {{ if isset . "android" }}
                <i class='devicons devicons-android'></i>
                {{ end }}

                {{ if isset . "apple" }}
                <i class="devicons devicons-apple"></i>
                {{ end }}

                {{ if isset . "swift" }}
                <i class="devicons devicons-swift"></i>
                {{ end }}

                {{ if isset . "visualstudio" }}
                <i class="devicons devicons-visualstudio"></i>
                {{ end }}

                {{ if isset . "atom" }}
                <i class="devicons devicons-atom"></i>
                {{ end }}

                {{ if isset . "unity" }}
                <i class="devicons devicons-unity_small"></i>
                {{ end }}

                {{ if isset . "haskell" }}
                <i class="devicons devicons-haskell"></i>
                {{ end }}

                {{ if isset . "prolog" }}
                <i class='devicons devicons-prolog'></i>
                {{ end }}

                {{ if isset . "rust" }}
                <i class="devicons devicons-rust"></i>
                {{ end }}

                {{ if isset . "docker" }}
                <i class="devicons devicons-docker"></i>
                {{ end }}

                {{ if isset . "erlang" }}
                <i class="devicons devicons-erlang"></i>
                {{ end }}

                {{ if isset . "illustrator" }}
                <i class="devicons devicons-illustrator"></i>
                {{ end }}

                {{ if isset . "photoshop" }}
                <i class="devicons devicons-photoshop"></i>
                {{ end }}

                {{ if isset . "react" }}
                <i class="devicons devicons-react"></i>
                {{ end }}

                {{ if isset . "vim"}}
                <i class="devicons devicons-vim"></i>
                {{ end }}
            </p>
            
            <p class="member-social-icons">
                {{ if isset . "twitter" }}
                <a href="https://twitter.com/{{ .twitter }}" target="_blank" class="twitter">
                    <i class ="fa fa-twitter-square"></i>
                </a>
                {{ end }}

                {{ if isset . "facebook" }}
                <a href="https://www.facebook.com/{{ .facebook }}" target="_blank" class="facebook">
                    <i class="fa fa-facebook-square"></i>
                </a>
                {{ end }}

                {{ if isset . "github" }}
                <a href="https://github.com/{{ .github }}" target="_blank" class="github">
                    <i class="fa fa-github-square"></i>
                </a>
                {{ end }}

                {{ if isset . "wantedly" }}
<!--                 <a href="https://www.wantedly.com/users/{{ .wantedly }}" target="_blank">
                    <img src="/images/sns/wantedly.png">
                </a> -->
                {{ end }}

                {{ if isset . "homepage" }}
                <a href="{{ .homepage }}" target="_blank">
                    <i class="fa fa-home"></i>
                </a>
                {{ end }}
            </p>            
        </div>
        {{ end }}
    </div>
    <!-- /.row -->
</div>
