<!DOCTYPE html>
<html lang="ja">
  <% include ../includes/_head %>
  <body>
  	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <% include ../includes/_header %>

      <main class="mdl-layout__content">
        <div class="othlo-hero mdl-typography--text-center">
  		    <div class="logo-font othlo-slogan">We are creative people</div>
		    </div>


        <div class="othlo-description-section mdl-typography--text-center">
          <div class="container">
            <h2 class="mdl-typography--display-1-color-contrast">GitHub, Slack, Trelloを用いたチーム開発</h2>
            <p class="mdl-typography--font-light mdl-typography--text-left">
              チーム開発は楽しいし学べることが多いのに、学生のうちにチーム開発のできる環境が少ないのが現状。<br>
              学生だけで楽しくクリエイティブなことしませんか。<br>
              OthloTechはチーム開発に必要なgithubの講習会やSlackやTrelloなどを使って効率的に開発を行っています<br>
            </p>
            <h2 class="mdl-typography--display-1-color-contrast">プロジェクト単位で作りたいを作る</h2>
            <p class="mdl-typography--font-light mdl-typography--text-left">
              興味本位のサービスやみんなに役立つサービスなどOthloTechでは『作りたい』を作ります。<br>
              エンジニアやデザイナーなどのクリエイティブ職を志す学生さんはすでに何かを作る力を秘めています。<br>
              あなたが作りたい！と思ったこと、「誰かが作ってくれるからいいや」と諦めてませんか。 <br>
              作るの楽しいですよ(o＾ω＾o)作りましょう！！！Yeahhhhhhhhhhhhh<br>
            </p>
          </div>
        </div>

        <div class="othlo-feature-section">
          <div class="container">
            <h2 class="mdl-typography--font-light mdl-typography--text-center mdl-typography--display-1-color-contrast">OthloTechの特徴</h2>

          </div>
        </div>

      </main>

      <% include ../includes/_footer %>
  	</div>
  </body>
</html>
