<!DOCTYPE html>
<html lang="ja">
  <% include ../includes/_head %>
  <body>
  	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <% include ../includes/_header %>

      <main class="mdl-layout__content">
        <section class="othlo-hero mdl-typography--text-center">
  		    <div class="logo-font othlo-slogan">We are creative people</div>
		    </section>


        <section class="othlo-screen-section mdl-typography--text-center">
          <div class="container">
            <h2 class="mdl-typography--display-1-color-contrast">GitHub, Slack, Trelloを用いたチーム開発</h2>
            <p class="mdl-typography--font-light mdl-typography--text-left">
              チーム開発は楽しいし学べることが多いのに、学生のうちにチーム開発のできる環境が少ないのが現状。<br>
              学生だけで楽しくクリエイティブなことしませんか。<br>
              OthloTechはチーム開発に必要なgithubの講習会やSlackやTrelloなどを使って効率的に開発を行っています<br>
            </p>
            <h2 class="mdl-typography--display-1-color-contrast">プロジェクト単位で作りたいを作る</h2>
            <p class="mdl-typography--font-light mdl-typography--text-left">
              興味本位のサービスやみんなに役立つサービスなどOthloTechでは『作りたい』を作ります。<br>
              エンジニアやデザイナーなどのクリエイティブ職を志す学生さんはすでに何かを作る力を秘めています。<br>
              あなたが作りたい！と思ったこと、「誰かが作ってくれるからいいや」と諦めてませんか。 <br>
              作るの楽しいですよ(o＾ω＾o)作りましょう！！！Yeahhhhhhhhhhhhh<br>
            </p>
          </div>
        </section>

        <section class="othlo-feature-section">
          <div class="container">
            <h2 class="mdl-typography--font-light mdl-typography--text-center mdl-typography--display-1-color-contrast">OthloTechの特徴</h2>
            <div class="othlo-feature-container mdl-grid">
              <article class='mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp'>
                <div class="othlo-feature__item">
                  <div class="item-circle">
                    <img src="/images/features/github.png" />
                  </div>
                </div>
                <div class="othlo-feature__content mdl-card__supporting-text mdl-color-text--grey-800">
                  <h3 class="mdl-card__title-text mdl-typography--font-regular">GitHub</h3>
                  <p>OthloTechではエンジニアもデザイナーもGitHubを使って楽しく効率的に開発をしています。勉強会も開いているので誰でも使えるようになれます。</p>
                </div>
              </article>

              <article class='mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp'>
                <div class="othlo-feature__item">
                  <div class="item-circle">
                    <img src="/images/features/group.png" />
                  </div>
                </div>
                <div class="othlo-feature__content mdl-card__supporting-text mdl-color-text--grey-800">
                  <h3 class="mdl-card__title-text mdl-typography--font-regular">チーム開発</h3>
                  <p>GitHubやSlack, Trelloを用いてミーティングやリモートでエンジニアとデザイナーがチームになって楽しく開発をしています。</p>
                </div>
              </article>

              <article class='mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp'>
                <div class="othlo-feature__item">
                  <div class="item-circle">
                    <img src="/images/features/pc.png" />
                  </div>
                </div>
                <div class="othlo-feature__content mdl-card__supporting-text mdl-color-text--grey-800">
                  <h3 class="mdl-card__title-text mdl-typography--font-regular">WEBサービス</h3>
                  <p>いくつかのWEBサービスを学生だけで開発・運営をしています。他にもアプリを作っていたりしており、「作りたい！」に垣根は設けません。</p>
                </div>
              </article>

              <article class='mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp'>
                <div class="othlo-feature__item">
                  <div class="item-circle">
                    <img src="/images/features/student.png" />
                  </div>
                </div>
                <div class="othlo-feature__content mdl-card__supporting-text mdl-color-text--grey-800">
                  <h3 class="mdl-card__title-text mdl-typography--font-regular">学生</h3>
                  <p>OthloTechが学生のみのクリエイティブ集団です。フラットな関係で楽しく開発しています。優しい先輩揃ってますよ笑</p>
                </div>
              </article>

            </div>
          </div>
        </section>
<!-- 
        <section class="othlo-projects-section">
          <div class="container">
            <h4 class="mdl-color-text--grey-500">Othlo Projects</h4>
            <div class="othlo-projects-container">
              <article class="othlo-projects__item mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet">
                <div class="logo">
                  <img src="images/logo/beeapp.png" />
                </div>
                <h3>BeeApp</h3>
              </article>

              <article class="othlo-projects__item mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet">
                <div class="logo">
                  <img src="images/logo/chatty.png" />
                </div>
                <h3>Chatty</h3>
              </article>

              <article class="othlo-projects__item mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet">
                <div class="logo">
                  <img src="images/logo/tsuimana.png" />
                </div>
                <h3>Tsuimana</h3>
              </article>
            </div>
          </div>
        </section>
 -->

        <section class="othlo-contact-section">
          <div class="container">
            <div class="mdl-grid">
              <article class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-typography--text-center">
                <h4 class="mdl-typography--font-light mdl-typography--text-center mdl-typography--display-1-color-contrast">お問い合わせ</h4>
                <p>OthloTechの活動内容やイベント、その他質問等がある方は以下のリンクよりお問い合わせください。またはTwitterにリプをいただけると迅速に対応します。</p>
                <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href="http://goo.gl/forms/QssrtHPZoNuDkuuj1" target="_blank">お問い合わせフォーム</a>
              </article>

              <article class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                <a class="twitter-timeline" href="https://twitter.com/OthloTech" data-chrome="noheader nofooter noborders noscrollbar" width=400 height=400 data-widget-id="734663046749003777">@OthloTechさんのツイート</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
              </article>
            </div>
          </div>
        </section>

      </main>

      <% include ../includes/_footer %>
  	</div>
  </body>
</html>
