<!DOCTYPE html>
<html lang="jp">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "top/carousel.html" . }}

        {{ partial "top/features.html" . }}

        {{ partial "top/members.html" . }}

        {{ partial "top/see_more.html" . }}

        {{ partial "top/recent_posts.html" . }}

        {{ partial "top/clients.html" . }}

        {{ partial "top/sponsors.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
