.members {
  padding: 0;
  margin-bottom: 40px;
}
.members .item {
  list-style-type: none;
  margin: 0 5px;
  background: #fff;
  padding-bottom: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.members .item .member {
  position: relative;
  padding: 20px;
}
.members .item .member:before,
.memberss .item .member:after {
  content: " ";
  display: table;
}
.memberss .item .member:after {
  clear: both;
}
.members .item .member:before,
.members .item .member:after {
  content: " ";
  display: table;
}
.members .item .member:after {
  clear: both;
}
.members .item .member .text {
  color: #999999;
  margin-bottom: 40px;
}
.members .item .member .bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  height: 50px;
}
.members .item .member .bottom .icon {
  color: #38a7bb;
  font-size: 30px;
  float: left;
  width: 20%;
}
.members .item .member .name-picture {
  float: right;
  width: 80%;
  text-align: right;
}
.members .item .member .name-picture h5 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}
.members .item .member .name-picture p {
  color: #999999;
  margin: 0;
  font-size: 12px;
}
.members .item .member .name-picture img {
  float: right;
  width: 60px;
  border-radius: 30px;
  margin-left: 10px;
}
