#blog-post {
  padding-bottom: 80px;

  h1 {
    font-size: 32px;
    margin-bottom: 45px;
    line-height: 1.6em;
    letter-spacing: .05em;
    padding-bottom: 12px;
    border-bottom: solid 5px #4fbfa8;
    word-break: break-all;
  }

  h2 {
    font-size: 24px;
    padding: 30px;
    background-color: #eee;
    border-radius: 5px;
    margin-top: 50px;
    letter-spacing: .1em;
  }

  h3 {
    font-size: 22px;
    border-left: 8px solid #4fbfa8;
    border-bottom: 2px solid #4fbfa8;
    padding: 10px 0 7px 20px;
    margin-top: 40px;
    letter-spacing: .05em;
    line-height: 1.6em;
  }

  h4 {
    font-size: 20px;
    margin-top: 30px;
  }

  h5 {
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
  }

  h6 {
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
  }

  p {
    font-size: 16px;
    margin-top: 25px;
    line-height: 1.8em;
    letter-spacing: .08em;
  }

  blockquote {
    font-style: italic;

    p {
      margin: 0;
    }
  }

  ul {
    font-size: 16px;
    margin-top: 25px;
    letter-spacing: .08em;

    li {
      margin-top: 5px;
    }
  }

  ol {
    font-size: 16px;
    margin-top: 25px;
    letter-spacing: .08em;
  }

  pre {
    margin-top: 30px;
    padding: 20px 30px;
  }

  section {
    margin-top: 35px;
  }

  table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 16px;
    background: #fff;
    margin: 30px 0;
    border-collapse: collapse;
    width: 100%;

    th {
      font-size: 16px;
      font-weight: bold;
      padding: 10px 8px;
      border-bottom: 1px solid #4fbfa8;
    }

    td {
      padding: 10px 8px 3px;
      white-space: nowrap;
    }
  }

  figure {
    display: inline-block;
    width: 100%;
    margin: 40px 0 0;
    text-align: center;

    img {
      width: auto;
      max-width: 100%;
    }

    figcaption {
      h4,
      p {
        text-align: center;
        opacity: 0;
        -webkit-transition: .3s;
        transition: .3s;
      }

      h4 {
        font-size: 18px;
      }

      p {
        bottom: -60px;
        right: 0;
      }
    }

    &::before,
    &::after {
      display: none;
    }

    &:hover {
      h4 {
        opacity: 1;
      }

      p {
        opacity: 1;
        -webkit-transition-delay: .3s;
        transition-delay: .3s;
      }
    }
  }
}
